body { background-color: red; }

.myimg {
    width: 20%;
}
.column ul li {
    //list-style: disc !important;
    //list-style-image: url(https://img.icons8.com/material-outlined/24/000000/christmas-star.png) !important;
    margin-left: 3.2rem !important;
}

ul li:before {
  font-family: FontAwesome;
  content: "\f138";
  left : 1em;
  color: gary;
  margin-right : 8px;
}

.myfa {
    font-size: 2em;
}

.background-right-10 {
    background-position: right 200px bottom 100px !important;
}

.white {
    color : white !important;
    font-size : 1.2em !important;
}
.green {
    color : #ffddcc !important;
    float : right;
}
