body { background-color: red; }

.myimg {
    width: 20%;
}
.column ul li {
    list-style: disc !important;
    margin-left: 3.2rem !important;
}

i.fa {
    font-size: 2em;
}

.background-right-10 {
    background-position: right 200px bottom 100px !important;
}

.white {
    color : white !important;
    font-size : 1.2em !important;
}
.green {
    color : green !important;
}
