body { background-color: red; }

.myimg {
    width: 20%;
}

.column ul li:before {
  font-family: FontAwesome;
  content: "\f138";
  left : 1em;
  color: gary;
  margin-right : 8px;
}

.column ul li {
  margin-left: 3.2rem !important;
}

.mydiv ul li:before {
  font-family: FontAwesome;
  content: "\f138";
  left : 1em;
  color: gary;
  margin-right : 8px;
}

.mydiv ul li {
  list-style-type : none;
  font-size: 2.3rem;
  margin-left: 3.2rem !important;
}

.myfa {
    font-size: 2em;
}

.background-right-10 {
    background-position: right 200px bottom 100px !important;
}

.white {
    color : white !important;
    font-size : 1.2em !important;
}
.green {
    color : #ffddcc !important;
    float : right;
}
